<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <title>热门</title>
        <meta property="qc:admins" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/show.css">
        <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">
           <link rel="stylesheet" href="__PUBLIC__/home/css/icostyle.css">
        <!-- <script>
            var BASE_URL = "/projects";
        </script> -->
    </head>

    <body class="project-fixed" style="background:#fff;">
            <!---->

            <div id="item_header">
                <a href="" class="datail-banner-head" href="javascript:void(0)" onclick="javascript:history.go(-1);">
                    <img src="__PUBLIC__/home/img/back.png" style="float: left;margin-top: 5px;height: 18px;width: 18px;padding-bottom: 0;transform: rotate(180deg);">
                    <div style="float: left;color:#fff;font-size:1em;margin-left:3px;padding-top: 1px;">返回</div>
                </a>
                <div style="margin: auto;width: 57%;margin-top: 12px;text-align: center;color: #fff;font-size:18px;">热门书籍</div>
                <a href="" class="detail-banner-mine">
                    <!--<img src="__PUBLIC__/home/img/back.png" style="float: left;margin-top: 5px;height: 18px;width: 18px;padding-bottom: 0;">-->
                </a>
            </div>
            <div style="margin-top: 43px;">
                <div class="axc-console axc-error" id="axc-error">
                    <i class="axc-base axc-infor-base"></i>
                    <span></span>
                </div>
                <div class="user-lists" style="margin-top:53px;">
                    <div class="user-lists-content" style="border:none;">
                        <volist name="books" id="vb">
                            <a href="__URL__/bookinfo?bid={$vb.id}&number=1" style="" >
                                <div class="du">
                                    <img src="__PUBLIC__/Uploads/book/{$vb.img}" alt="" style="width:30%;float:left;">
                                    <div class="du-div">
                                        <p style="font-size:16px;line-height:30px;">{$vb.title}</p>
                                        <p style="margin-top:0;line-height:20px;font-size:12px;color:#7c7b79;" class="du-p">{$vb.content|msubstr=0,60,'utf-8',false}</p>
                                    </div>
                                </div>
                            </a>
                        </volist>

                    </div>
                </div>

            </div>

<div style="width:100%; height:60px; line-height:60px;"></div>
     <div class="infobottom">
<div class="bnav">
<ul>
<li><a href="/"><i class="icono-home"></i>首页</a></li>
<li><a href="__APP__/Home/Book/book_type.html"><i class="icono-folder"></i>书库</a></li>
<li><a href="__APP__/Home/Index/recharge.html"><i class="icono-heart"></i>充值</a></li>
<li><a href="__APP__/Home/User/center.html"><i class="icono-smile"></i>我</a></li>
</ul>
</div>
</div>


    </body>

</html>