<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <title>详情页</title>
        <meta property="qc:admins" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/show.css">
        <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">
        <style>
            .user-lists-content p{
                margin-top:0px;
                line-height: 27px;
                text-indent:2em;
            }
        </style>
    </head>

    <body class="project-fixed">
            <!---->

            <!--<div id="item_header">
                <a href="" class="datail-banner-head" href="javascript:void(0)" onclick="javascript:history.go(-1);">
                    <img src="__PUBLIC__/home/img/back.png" style="float: left;margin-top: 5px;height: 18px;width: 18px;padding-bottom: 0;transform: rotate(180deg);">
                    <div style="float: left;color:#fff;font-size:1em;margin-left:3px;padding-top: 1px;">返回</div>
                </a>
                <div style="margin: auto;width: 57%;margin-top: 12px;text-align: center;color: #fff;"></div>
                <a href="" class="detail-banner-mine">
                     <img src="__PUBLIC__/home/img/back.png" style="float: left;margin-top: 5px;height: 18px;width: 18px;padding-bottom: 0;">
                </a>
            </div>-->
            <div style="margin-top: 15px;">
                <div class="axc-console axc-error" id="axc-error">
                    <i class="axc-base axc-infor-base"></i>
                    <span></span>
                </div>
                <div class="biao" style="height:50px;color:#DE7A21"><!-- 第{$bookinfo.number}章 --> {$bookinfo.title2}</div>
                <div class="img-div">
                        <img src="__PUBLIC__/Uploads/book/{$book.img}" alt="" style="width:50px;height:50px;border-radius:50%;float:left;">
                        <p class="q">{$book.title}</p>
                </div>
                <div class="user-lists" style="background:none;">
                    <div class="user-lists-content" style="border-top:none;width:90%;margin:0 auto;line-height:25px;">
                         {$bookinfo.content}
                    </div>
                </div>
                <div style="padding-top:40px;width:95%;margin:0 auto;">
                    <a href="__URL__/bookinfo?bid={$bookinfo.bid}&number={$nextnumber}" style="width:49%;height:40px;background:#02c88d;border-radius:10px;line-height:40px;color:#fff;font-size:16px;float:left;display:inline-block;text-align:center;">下一章</a>
                    <a href="javascript:;" style="width:49%;height:40px;background:#02c88d;border-radius:10px;line-height:40px;color:#fff;font-size:16px;float:right;display:inline-block;text-align:center;" id="caidan">菜单</a>
                </div>






                <div class="cai" style="display:none;z-index:1000;">

                    <div class="cai-div" style="display:none;">
                        <ul>

                            <li class="cai-li pxy" style="background-color:#fff;">
                                <a ><img src="__PUBLIC__/home/img/ic1.png" alt="" style="width:25px;height:25px;">&nbsp;&nbsp;字体大小</a>
                            </li>
                            <li class="cai-li pxt" style="background-color:#fff;">
                                <a ><img src="__PUBLIC__/home/img/ic2.png" alt="" style="width:25px;height:25px;">&nbsp;&nbsp;背景颜色</a>
                            </li>
                              <li class="cai-li pxa" style="background-color:#fff;">
                                <a ><img src="__PUBLIC__/home/img/ic3.png" alt="" style="width:25px;height:25px;">&nbsp;&nbsp;我要打赏</a>
                            </li>
                            <if condition="!empty($user)">
                            <li class="cai-li" style="background-color:#fff;">
                                <a href="__URL__/add_bookmark?id={$bookinfo.id}"><img src="__PUBLIC__/home/img/ic4.png" alt="" style="width:25px;height:25px;">&nbsp;&nbsp;添加书签</a>
                            </li>
                            </if>
                            <li class="cai-li" style="background-color:#fff;">
                                <a href="__URL__/bookinfo_list?bid={$bookinfo.bid}"><img src="__PUBLIC__/home/img/ic5.png" alt="" style="width:25px;height:25px;">&nbsp;&nbsp;返回目录</a>
                            </li>
                            <if condition="!empty($user)">
                            <li class="cai-li2" style="background-color:#fff;">
                                <a href="__APP__/Home/Index/index.html"><img src="__PUBLIC__/home/img/ic6.png" alt="" style="width:25px;height:25px;">&nbsp;&nbsp;返回首页</a>
                            </li>
                            </if>
                            <a href="javascript:;" id="ca">
                                <li class="qu" style="background-color:#fff;color:#333;">取消</li>
                            </a>
                        </ul>
                    </div>
                    <div class="zhao" ></div>
                </div>




                <div class="caii" style="display:none;z-index:1000;">

                    <div class="cai-div" style="display:none;">
                        <ul>
                            <li class="cai-li" style="background-color:#e3e3e3;">
                                <a>打赏</a>
                            </li>
                            <li class="cai-li pxy" style="background-color:#ffffff;    height: 130px;">
                               <div style="width:20%;height:120px;float:left;margin:2.5%">
                                    <a href="__URL__/spare?gold=100"><img src="__PUBLIC__/home/img/01.jpg" alt="" style="width:100%;height:80px">
                                    <p style="margin:0px"><b style="color:#ff8d00">100</b>书币</p></a>
                               </div>
                               <div style="width:20%;height:120px;float:left;margin:2.5%">
                                    <a href="__URL__/spare?gold=388"><img src="__PUBLIC__/home/img/02.jpg" alt="" style="width:100%;height:80px">
                                    <p style="margin:0px"><b style="color:#ff8d00">388</b>书币</p></a>
                               </div>
                               <div style="width:20%;height:120px;float:left;margin:2.5%">
                                    <a href="__URL__/spare?gold=588"><img src="__PUBLIC__/home/img/03.jpg" alt="" style="width:100%;height:80px">
                                    <p style="margin:0px"><b style="color:#ff8d00">588</b>书币</p></a>
                               </div>
                               <div style="width:20%;height:120px;float:left;margin:2.5%">
                                    <a href="__URL__/spare?gold=888"><img src="__PUBLIC__/home/img/04.jpg" alt="" style="width:100%;height:80px">
                                    <p style="margin:0px"><b style="color:#ff8d00">888</b>书币</p></a>
                               </div>

                            </li>




                            <a href="javascript:;" id="ca">
                                <li class="qu" style="background-color:#fff;color:#333;">取消</li>
                            </a>
                        </ul>
                    </div>
                    <div class="zhao" ></div>
                </div>

            </div>
            <div class="pa" style="display:none;">
                    <div class="pa-div">
                        <p>背景颜色</p>
                        <div class="see">
                            <button class="see-s" style="background-color:#fff" value="#fff">无</button>
                            <button class="see-s" style="background-color:#fff" value="#C1AF95">舒适</button>
                            <button class="see-s" style="border:none;background-color:#fff" value="#161617">黑夜</button>
                        </div>
                        <div class="dui">确定</div>
                    </div>
                    <div class="zhao2">

                    </div>
            </div>

            <div class="pap" style="display:none;">
                    <div class="pa-div">
                        <p>字体大小</p>
                        <div class="see">
                            <button class="see-s pxb" style="background-color:#fff" value="#fff">小</button>
                            <button class="see-s pxb" style="background-color:#fff" value="#C1AF95">中</button>
                            <button class="see-s pxb" style="border:none;background-color:#fff" value="#161617">大</button>
                        </div>
                        <div class="dui pxs">确定</div>
                    </div>
                    <div class="zhao2">

                    </div>
            </div>
<script src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
<script >
    $(function(){
            $("#caidan").click(function(){
                $(".cai").css({'display':'block'});
                $(".cai-div").css({'display':'block'});
            });
            $("#ca").click(function(){
                $(".cai").css({'display':'none'});
                $(".cai-div").css({'display':'none'});
            });
    });
</script>

<script >
    $(function(){
            $(".pxt>a").eq(0).click(function(){
                $(".pa").css({'display':'block'});
                $(".cai").css({'display':'none'});
            });
            $(".see-s").eq(0).click(function(){
                $("body").css({'background':'white'});
                // $(".user-lists-content p").css({'color':'#fff'});
            });
            $(".see-s").eq(1).click(function(){
                $("body").css({'background':'#C0AF93'});
                $(".user-lists-content p").css('color','#5B4128');
            });
            $(".see-s").eq(2).click(function(){
                $("body").css({'background':'#151716'});
                $(".user-lists-content p").css('color','#565857');
            });
            $(".dui").click(function(){
                $(".pa").css({'display':'none'});
            });
    });
    $(".pxy>a").click(function(){
        $(".pap").css({'display':'block'});
        $(".cai").css({'display':'none'});
    });
    $(".pxs").click(function(){
        $(".pap").css({'display':'none'});

    });
    $(".pxb").eq(0).click(function(){
        $(".user-lists-content p").css({'font-size':'16px'});
        $(".user-lists-content p").css('line-height','27px');
        $(".user-lists-content p").css('margin-top','0px');
    });
    $(".pxb").eq(1).click(function(){
        $(".user-lists-content p").css({'font-size':'20px'});
        $(".user-lists-content p").css('line-height','30px');
        $(".user-lists-content p").css('margin-top','5px');
    });
    $(".pxb").eq(2).click(function(){
        $(".user-lists-content p").css({'font-size':'24px'});
        $(".user-lists-content p").css('line-height','30px');
        $(".user-lists-content p").css('margin-top','10px');
    });
    $('.pxa').click(function(){
        $('.caii').show();
        $('.cai').hide();
    });
    $('.qu').click(function(){
        $('.caii').hide();
    })
    // $('.zhao').click(function(){
    //     $('.cai').hide();
    // 	$('.cai-div').hide();
    // 	$('.zhao').hide();
    // })

</script>
    </body>

</html>