<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>书库</title>
    <meta property="qc:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
<!--    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">-->
<!--    <link rel="stylesheet" href="__PUBLIC__/home/css/show.css?v1">-->
<!--    <link rel="stylesheet" href="__PUBLIC__/home/css/icostyle.css">-->
<!--    <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">-->

    <script type="text/javascript" src="__PUBLIC__/home/js/template-web.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.min.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/home/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">


    <style>
        .tiaojian {
            display: -webkit-box;
            padding: 5px 10px;
            border-bottom: 1px solid #f3f3f3;
        }

        .tiaojian:last-child {
            border-bottom: none;
        }

        .tiaojian > li {
            display: block;
            min-height: 30px;
            line-height: 30px;
        }

        .tiaojian > li:nth-child(1) {
            width: 50px;
        }

        .tiaojian > li:nth-child(2) {
            -webkit-box-flex: 1;
        }

        .tiaojian > li > a {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            border-radius: 3px;
        }

        .tiaojian > li > a.curr {
            color: #fff;
            background: #ff6600;
        }
    </style>

</head>

<body>

<div class="nav_bar_box">
    <a class="nav_bar_box_left" href="__APP__/Home/Index/index.html">
        <img class="nav_bar_box_left_img" src="__PUBLIC__/home/img/back.png">
        <div>返回</div>
    </a>
    <div class="nav_bar_box_title">书库</div>

    <div class="nav_bar_box_right">
        <a href="__APP__/Home/Index/index.html">首页</a>
    </div>
</div>

<ul class="tiaojian" style=" margin-top:44px;">
    <li>类型：</li>
    <li>
        <a href="__URL__/book_type.html"
        <eq name="sex" value=""> class="curr"</eq>
        >全部</a>
        <a
        <eq name="sex" value="1"> class="curr"</eq>
        href="__URL__/book_type?sex=1&state={$state}&tid={$tid}">男频</a>
        <a
        <eq name="sex" value="2"> class="curr"</eq>
        href="__URL__/book_type?sex=2&state={$state}&tid={$tid}">女频</a>
    </li>
</ul>
<ul class="tiaojian" style=" margin-top: 5px;">
    <li>进度：</li>
    <li>
        <a href="__URL__/book_type.html"
        <eq name="state" value=""> class="curr"</eq>
        >全部</a>
        <a
        <eq name="state" value="0"> class="curr"</eq>
        href="__URL__/book_type?state=0&sex={$sex}&tid={$tid}">连载中</a> <a
        <eq name="state" value="1"> class="curr"</eq>
        href="__URL__/book_type?state=1&sex={$sex}&tid={$tid}">已完结</a>
    </li>
</ul>

<ul class="tiaojian" style=" margin-top:5px;">
    <li>分类：</li>
    <li>
        <a href="__URL__/book_type.html"
        <eq name="tid" value=""> class="curr"</eq>
        >全部</a>
        <volist name="type" id="vt">
            <a
            <eq name="tid" value="$vt['id']"> class="curr"</eq>
            href="__URL__/book_type?tid={$vt.id}&sex={$sex}&state={$state}">{$vt.name}</a>
        </volist>
    </li>
</ul>

<div class="list_body" id="books" now="1" num="{$total}" style="margin-top: 10px">

    <!--定义模板-->
    <script id="test" type="text/html">
        <div>
            <%for (var i =0;i<list.length;i++){%>
            <a href="__URL__/bookinfo?bid=<%=list[i].id%>&number=1">
                <div class="list_item">
                    <img class="list_item_img" src="__PUBLIC__/Uploads/book/<%=list[i].img%>">
                    <div class="list_item_right">
                        <div class="list_item_right_title"><%=list[i].title%></div>
                        <div class="list_item_right_text">
                            <%=list[i].content%>
                        </div>
                        <div class="list_item_right_tag">
                            <div class="list_item_right_tag_item"><%=list[i].name%></div>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
        </div>

    </script>

</div>


<!--    <div class="user-lists" style="margin-top:10px;">-->
<!--        <div id="books" now="1" num="{$total}" class="user-lists-content" style="border:none;">-->

<!--            &lt;!&ndash;定义模板&ndash;&gt;-->
<!--            <script id="test" type="text/html">-->
<!--                <ul>-->
<!--                    <%for (var i =0;i<list.length;i++){%>-->
<!--                    <a href="__URL__/bookinfo?bid=<%=list[i].id%>&number=1">-->
<!--                        <div class="list_item">-->
<!--                            <img class="list_item_img" src="__PUBLIC__/Uploads/book/<%=list[i].img%>">-->
<!--                            <div class="list_item_right">-->
<!--                                <div class="list_item_right_title"><%=list[i].title%></div>-->
<!--                                <div class="list_item_right_text">-->
<!--                                    <%=list[i].content%>-->
<!--                                </div>-->
<!--                                <div class="list_item_right_tag">-->
<!--                                    <div class="list_item_right_tag_item"><%=list[i].name%></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <% } %>-->
<!--                </ul>-->

<!--            </script>-->


<!--        </div>-->
<!--    </div>-->

    <script type="text/javascript">
        //记录状态
        var state = true;
        //滚动条滚动的时候
        $(window).scroll(function () {
            //获取当前加载更多按钮距离顶部的距离
            var bottomsubmit = $('#books').offset().top;
            //获取当前页面底部距离顶部的高度距离
            var nowtop = $(document).scrollTop() + $(window).height();
            //获取当前页数，默认第一页
            var now = $('#books').attr('now');
            //获取总页数，PHP分页的总页数
            var num = $('#books').attr('num');
            //当当前页面的高度大于按钮的高度的时候开始触发加载更多数据
            if (nowtop > bottomsubmit) {

                //如果为真继续执行，这个是用于防止滚动获取过多的数据情况
                if (state == true) {
                    //执行一次获取数据并停止再进来获取数据
                    state = false;

                    setTimeout(function () {
                        //当前页数++
                        now++;
                        //记录当前为第二页
                        $('#books').attr('now', now);
                        $.ajax({

                            //通过ajax传页数参数获取当前页数的数据
                            url: '__APP__/Home/Book/book_typeajax',
                            data: "tid={$tid}&sex={$sex}&state={$state}&page=" + now,
                            type: 'GET',
                            cache: false,
                            dataType: "html",
                            success: function (data) {

                                var jsArr = JSON.parse(data);

                                var html = template('test', {list: jsArr});

                                $('#books').append(html);

                                //如果当前页大于等于总页数就提示没有更多数据
                                if (now >= num) {

                                    // $("#lnkMore").html("没有更多数据");
                                    //并把状态设置为假，下次下滑滚动时不再通过ajax获取数据
                                    state = false;
                                } else {

                                    state = true;
                                }
                            },
                            error: function () {
                                //$("#lnkMore").html("加载错误,请刷新页面");
                            }
                        });
                    }, 500);
                }
            }
        });

        function getBookList() {
            $.ajax({
                url: '__APP__/Home/Book/book_typeajax',
                data: "tid={$tid}&sex={$sex}&state={$state}&page=" + 1,
                type: 'GET',
                cache: false,
                dataType: "html",
                success: function (data) {

                    var jsArr = JSON.parse(data);

                    var html = template('test', {list: jsArr});

                    $('#books').append(html);
                }
            });
        }

        getBookList();
    </script>

</body>


</html>