<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书库</title>
    <meta property="qc:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>

    <link rel="stylesheet" href="__PUBLIC__/home/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">

</head>
<body>

<div class="navbar">
    <a class="navbar_left" href="javascript:void(0)" onclick="javascript:history.go(-1);">
        <img class="navbar_left_img" src="__PUBLIC__/home/img/back.png">
        <div class="navbar_left_title">返回</div>
    </a>
    <div class="navbar_title">Title</div>

    <div class="navbar_right">
        <a class="navbar_right_a" href="__APP__/Home/Index/index.html">首页</a>
    </div>
</div>

</body>
</html>