<!DOCTYPE html>
<html lang="en-US">

	<head>
		<meta charset="utf-8">
		<title>章节列表</title>
		<meta property="qc:admins" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />

		<link rel="stylesheet" href="__PUBLIC__/home/css/normalize.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/app.css">


	</head>

	<body>

	<!--nav bar-->
	<div class="nav_bar_box">
		<a class="nav_bar_box_left" href="javascript:void(0)" onclick="javascript:history.go(-1);">
			<img class="nav_bar_box_left_img" src="__PUBLIC__/home/img/back.png">
			<div>返回</div>
		</a>
		<div class="nav_bar_box_title">Title</div>

		<div class="nav_bar_box_right">
			<a href="__APP__/Home/Index/index.html">首页</a>
		</div>
	</div>
			<div style="margin-top: 43px;">
				<div class="axc-console axc-error" id="axc-error">
					<i class="axc-base axc-infor-base"></i>
					<span></span>
				</div>
                <div class="biao">{$book.title}</div>
				<div class="user-lists" >
					<div class="user-lists-content">
                    <volist name="bookinfo" id="vi">
    					<a href="__URL__/bookinfo?bid={$vi.bid}&number={$vi.number}" class="mine-add">
                            <li style="width:90%;margin:0 auto;list-style:none;height:40px;border-bottom:1px solid #e5e5e5;">

                                <p class="ku"><!-- 第{$vi.number}章 &nbsp;&nbsp; -->{$vi.title2}
                                <if condition="$vi['pay'] heq '2'">
                                    <span style="font-size:12px;color:red;padding-left:10px;">
                                        <img src="__PUBLIC__/home/img/jin.png" alt="" / style="width:18px;height:18px;">{$vi.gold}金币
                                    </span>
                                </if>
                                </p>
                                <img src="__PUBLIC__/home/img/vv.png" alt="" style="margin-top:13.5px;">
                            </li>
    					</a>
                    </volist>
						<!-- <li style="width:90%;margin:0 auto;list-style:none;">
                            <a href="17supportMine.html" class="mine-add">
                                第一章 两次喝醉
                            </a>
                        </li> -->

					</div>
				</div>

			</div>

	</body>

</html>