<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>通知公告</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- <script>
      (function () {
        if (window !== window.top) {
          window.top.location.href = 'http://www.818tu.com';
        }
      })();
    </script> -->

    <!-- bootstrap & fontawesome -->

    <!-- page specific plugin styles -->
    <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/js/lodash.min.js"></script>
    <script src="__PUBLIC__/admin/js/moment.min.js"></script>
    <script src="__PUBLIC__/admin/js/zh-cn.js"></script>
    <script src="__PUBLIC__/admin/js/numeral.min.js"></script>
    <script src="__PUBLIC__/admin/js/toastr.min.js"></script>
    <script src="__PUBLIC__/admin/js/cookies.js"></script>
    <script src="__PUBLIC__/admin/js/knockout-min.js"></script>
    <script src="__PUBLIC__/admin/js/knockout.mapping.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap-datetimepicker.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="__PUBLIC__/admin/js/clipboard.min.js"></script>
    <script src="__PUBLIC__/admin/js/select2.min.js"></script>
    <script src="__PUBLIC__/admin/js/admin.js"></script>
    <script>
      moment.locale('zh-cn');
      toastr.options.positionClass = 'toast-bottom-right';
    </script>

    <!-- text fonts -->


    <!-- ace styles -->


    <!--[if lte IE 9]>
        <link rel="stylesheet" href="http://novel.818tu.com/static/assets/css/ace-part2.min.css" />
    <![endif]-->




    <!--[if lte IE 9]>
        <link rel="stylesheet" href="http://novel.818tu.com/static/css/ace-ie.min.css" />
    <![endif]-->



    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="__PUBLIC__/admin/js/ace-extra.min.js"></script>

   <!--  <script>
      var __BASEURL = "http://novel.818tu.com/";
    </script> -->

<link media="all" href="__PUBLIC__/admin/css/index01.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/glyphicons-halflings-regular.css">

</head>
<body class="no-skin" style="padding-right: 17px;">

    <!-- #section:basics/navbar.layout -->
<include file="./Public/gong/title.html" />

    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div id="sidebar" class="sidebar responsive">
          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
          </script>

<include file="./Public/gong/list.html" />


          <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
          </div>

          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
          </script>
      </div>

      <!-- /section:basics/sidebar -->
      <div class="main-content">

                   <!--  <div id="invalid-mp-settings-hint" style="border-top: 0px none; border-left: 0px none; border-right: 0px none; margin: 0px;" class="alert alert-warning">
    <i class="fa fa-warning"></i> 您的公众号配置不完整，推广前请务必配置好公众号信息。<a    href="#">立即配置</a>
</div> -->

<!-- <script>
    $.get('/backend/settings/api_check_mp_settings?t' + new Date().getTime(), function (result) {
        if (!result.valid) {
            $('#invalid-mp-settings-hint').slideDown();
        }
    });
</script> -->
        <div class="breadcrumbs" id="breadcrumbs">
          <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
          </script>

          <ul class="breadcrumb">
            <li>
              <i class="ace-icon fa fa-home home-icon"></i>
              <a    href="#">Home</a>
            </li>
            <li class="active">通知公告</li>
          </ul><!-- /.breadcrumb -->

          <!-- /section:basics/content.searchbox -->
        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
          <div class="page-content-area">
            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <!--/span-->
                <!-- left menu ends -->




<ul class="list-group" style="margin-left: 0px;">
            <li class="list-group-item notice-item">
            <span>2017-06-07 |</span>
            <a    href="#">关于平台全部改成https接入的公告</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-06-03 |</span>
            <a    href="#">周末新书推荐</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-27 |</span>
            <a    href="#">关于端午节促销活动的通知</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-27 |</span>
            <a    href="#">关于端午节打款的公告</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-27 |</span>
            <a    href="#">关于近期微信对色情、低俗标题打击的通知</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-26 |</span>
            <a    href="#">周末和端午假期，这些好书不能错过！</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-25 |</span>
            <a    href="#">关于平台调整渠道用户提现功能的通知</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-19 |</span>
            <a    href="#">周末高转化小说推荐</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-18 |</span>
            <a    href="#">新增2个小功能</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-12 |</span>
            <a    href="#">周五啦，这些优质小说小伙伴们来撸一波！！！</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-05-05 |</span>
            <a    href="#">周末充值高峰，好书推荐！</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-30 |</span>
            <a    href="#">平台庆五一，大促销活动开始了</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-30 |</span>
            <a    href="#">关于开通微信公众号模板消息功能的说明</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-28 |</span>
            <a    href="#">关于平台5.1节打款的说明</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-22 |</span>
            <a    href="#">关于4月22日部分渠道采用建设银行无法结算的说明</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-21 |</span>
            <a    href="#">周末精品书推荐</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-17 |</span>
            <a    href="#">关于平台对不达标的渠道下调分成比例的通知</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-08 |</span>
            <a    href="#">周末精品书籍推荐</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-06 |</span>
            <a    href="#">新增推广链接删除和修改功能</a>
                    </li>
            <li class="list-group-item notice-item">
            <span>2017-04-04 |</span>
            <a    href="#">关于平台清明节不打款的说明</a>
                    </li>
    </ul>

<div class="pager"><span class="pager-summary">共 <em>25</em> 条记录, 每页 <em>20</em> 条, 共 <em>2</em> 页</span><ul class="pagination"><li class="active"><a    href="#">1</a></li><li class="page"><a    href="#">2</a></li><li class="next page"><a    href="#"> ›</a></li></ul></div>
<!-- <script>
    $(function () {
        var isAdmin = false;
        // 检查是否已读过最新通知
        var lastReadNoticeCookieKey = 'last_read_notice_id_9846';
        var lastReadNoticeId = Cookies.get(lastReadNoticeCookieKey) || 0;

        if (!isAdmin) {
            showNextUnreadNotice(collectUnreadNoticeIds(lastReadNoticeId));
        }

        function collectUnreadNoticeIds(lastReadNoticeId) {
            var noticeIds = [];

            $('.notice-item [data-toggle="view-notice"]').each(function () {
                var noticeId = parseInt($(this).data('id'), 10);
                var createdAt = parseInt($(this).data('created-at'));
                var now = Math.round(new Date().getTime() / 1000);
                var within10days = (now - createdAt) < 10 * 24 * 60 * 60;

                // 对于用户未读，且在10天内新发布的通知，将强制显示给用户
                if (noticeId > lastReadNoticeId && within10days) {
                    noticeIds.push(noticeId);
                }
            });

            return noticeIds;
        }

        function showNextUnreadNotice(unreadNoticeIds) {
            if (unreadNoticeIds.length === 0) {
                return false;
            }

            var noticeId = unreadNoticeIds.pop();

            viewNotice(noticeId).then(function () {
                showNextUnreadNotice(unreadNoticeIds);
            });
        }

        function viewNotice(id) {
            var defer = $.Deferred();

            $.get('/backend/notices/api_get_notice/' + id, function (data) {
                return Modal.open({
                    title: data.title,
                    body: '<div style="line-height:1.8em;">' + plainTextToHtml(data.content) + '</div>',
                    backdrop: 'static',
                    keyboard: false,
                    buttons: [{
                        text: '我知道了',
                        className: 'btn-primary',
                        click: function () {
                            this.close();
                        }
                    }],
                    callbacks: {
                        close: function () {
                            if (!isAdmin && id > lastReadNoticeId) {
                                Cookies.set(lastReadNoticeCookieKey, id, { expires: 10 * 365 * 24 * 60 * 60 });
                                lastReadNoticeId = id;
                            }

                            defer.resolve();
                        }
                    }
                });
            });

            return defer.promise();
        }

        $(document).on('click', '[data-toggle="view-notice"]', function () {
            var id = $(this).data('id');
            viewNotice(id);
            return false;
        });

        $(document).on('click', '[data-toggle="delete-notice"]', function () {
            var id = $(this).data('id');
            var title = $(this).closest('li').find('.notice-title').text();

            Modal.confirm({
                title: '删除确认',
                message: '确定要删除公告《' + title + '》吗?'
            })
                .then(function () {
                    $.ajax({
                        url: '/backend/notices/api_delete_notice/' + id,
                        type: 'POST',
                        contentType: 'application/json'
                    })
                        .then(function () {
                            toastr.success('删除成功');
                            reloadPage(500);
                        })
                        .fail(handleAjaxError);
                });

            return false;
        });
    })
</script> -->


                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content-area -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->

        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <!-- <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='http://novel.818tu.com/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script> -->
        <script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/admin/js/jquery.webui-popover.min.js"></script>
        <script src="__PUBLIC__/admin/js/jquery.ui.widget.min.js"></script>
        <script src="__PUBLIC__/admin/js/jquery.fileupload.min.js"></script>

        <!-- page specific plugin scripts -->

        <!-- ace scripts -->
        <script src="__PUBLIC__/admin/js/ace-elements.min.js"></script>
        <script src="__PUBLIC__/admin/js/ace.min.js"></script>

        <!-- inline scripts related to this page -->

        <!-- the following scripts are used in demo only for onpage help and you don't need them -->


    <!--     <script type="text/javascript"> ace.vars['base'] = 'http://novel.818tu.com/static'; </script> -->
        <script src="__PUBLIC__/admin/js/elements.onpage-help.js"></script>
        <script src="__PUBLIC__/admin/js/ace.onpage-help.js"></script>


</body>
</html>
