<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta property="qc:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/show.css?v1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/icostyle.css">
    <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index1.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">


    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.min.js"></script>

</head>

<body>

<div id="contentBox">

<div>

    <div id="item_header" style="height:83px;">

        <div class="header_search">
            <img class="header_search_img" src="__PUBLIC__/home/img/header_search.png">
            <span>请输入书名搜索</span>
        </div>

        <div class="header_title">
            <div class="header_title_em">
                男生
            </div>
            <div class="header_title_em">
                女生
            </div>

        </div>

    </div>

    <div style="margin-top: 65px;">

        <!--   阅读历史 -->
        <if condition="!empty($history)">
            <volist name="history" id="his">
                <a href="__APP__/Home/Book/bookinfo?bid={$his.biid}&number={$his.number}">
                    <div class="ss">
                        <div class="ss-div">
                            <img src="__PUBLIC__/home/img/ss.png" alt="">
                            上次阅读：{$his.btitle} 第{$his.number}章
                        </div>
                    </div>
                </a>
            </volist>
        </if>

        <!--轮播图-->
        <div style="width: 100%; height: auto;">
            <div class="carousel">
                <ul>
                    <volist name="banners" id="banner">
                        <li><a href="#"><img src="{$banner.image}" alt=""></a></li>
                    </volist>
                </ul>
                <ol class="points"></ol>
            </div>
        </div>


        <!--icon title-->
        <div class="items_div">
            <a class="item_a" href="">
                <img class="item_img" src="__PUBLIC__/home/img/icon_button_sk.png">
                <span>书库</span>
            </a>
            <a class="item_a" href="">
                <img class="item_img" src="__PUBLIC__/home/img/icon_button_bd.png">
                <span>榜单</span>
            </a>
            <a class="item_a" href="">
                <img class="item_img" src="__PUBLIC__/home/img/icon_button_wb.png">
                <span>完本</span>
            </a>
            <a class="item_a" href="">
                <img class="item_img" src="__PUBLIC__/home/img/icon_button_hd.png">
                <span>活动</span>
            </a>
            <a class="item_a" href="">
                <img class="item_img" src="__PUBLIC__/home/img/icon_button_xm.png">
                <span>限免</span>
            </a>
        </div>

        <!--空白-->
        <div class="whitespace"></div>

        <!--热门-->
        <div>
            <a class="section_header" href="__APP__/Home/Book/book_list_v1/hot=2&sex=1">
                <div class="section_flag_column_line"></div>
                <div class="section_title">
                    <div class="section_left">本周热门</div>
                    <div class="section_right">
                        <span>查看更多</span>
                    </div>
                </div>
            </a>

            <div class="section_content1">

                <volist name="bookhots" id="vb">
                    <div class="uu">
                        <a href="__APP__/Home/Book/book_detail?bid={$vb.id}">
                            <img src="__PUBLIC__/Uploads/book/{$vb.img}" alt=""
                                 style="width:80%;border-radius:8px;">
                            <p style="margin-top:0;" class="rr">{$vb.title}</p>
                        </a>
                    </div>
                </volist>

            </div>
        </div>

        <!--空白-->
        <div class="whitespace"></div>

        <!--主编力荐-->
        <div>
            <a class="section_header" href="__APP__/Home/Book/book_list_v1/eic=2&sex=1">
                <div class="section_flag_column_line"></div>
                <div class="section_title">
                    <div class="section_left">主编力荐</div>
                    <div class="section_right">
                        <span>查看更多</span>
                    </div>
                </div>
            </a>

            <div class="section_content1">

                <volist name="bookeics" id="vb">
                    <div class="uu">
                        <a href="__APP__/Home/Book/book_detail?bid={$vb.id}">
                            <img src="__PUBLIC__/Uploads/book/{$vb.img}" alt=""
                                 style="width:80%;border-radius:8px;">
                            <p style="margin-top:0;" class="rr">{$vb.title}</p>
                        </a>
                    </div>
                </volist>

            </div>

            </div>
        </div>

        <!--空白-->
        <div class="whitespace"></div>

        <!--本周新书-->
        <div>
            <a class="section_header" href="__APP__/Home/Book/book_list_v1?hot=2&sex=1">
                <div class="section_flag_column_line"></div>
                <div class="section_title">
                    <div class="section_left">本周新书</div>
                    <div class="section_right">
                        <span>查看更多</span>
                    </div>
                </div>
            </a>

            <div class="section_content1">

                <volist name="bookweaks" id="vb">
                    <div class="uu">
                        <a href="__APP__/Home/Book/book_detail?bid={$vb.id}">
                            <img src="__PUBLIC__/Uploads/book/{$vb.img}" alt=""
                                 style="width:80%;border-radius:8px;">
                            <p style="margin-top:0;" class="rr">{$vb.title}</p>
                        </a>
                    </div>
                </volist>

            </div>
        </div>

        <!--空白-->
        <div class="whitespace"></div>

        <!--精选-->
        <div>
            <a class="section_header" href="__APP__/Home/Book/book_list_v1?show=2&sex=1">
                <div class="section_flag_column_line"></div>
                <div class="section_title">
                    <div class="section_left">精选</div>
                    <div class="section_right">
                        <span>查看更多</span>
                    </div>
                </div>
            </a>

            <div class="section_content3">

                <volist name="bookshows" id="vb">

                    <a href="__APP__/Home/Book/book_detail?bid={$vb.id}">
                        <div class="list_item">
                            <img class="list_item_img" src="__PUBLIC__/Uploads/book/{$vb.img}">
                            <div class="list_item_right">
                                <div class="list_item_right_title">{$vb.title}</div>
                                <div class="list_item_right_text">
                                    {$vb.content|msubstr=0,60,'utf-8',false}</div>

                                <notempty name="vb.tag">
                                    <div class="list_item_right_tag">
                                        <div class="list_item_right_tag_item">{$vb.tag}</div>
                                    </div>
                                </notempty>


                            </div>
                        </div>
                    </a>
                </volist>

            </div>

        </div>

        <!---->
        <div>

        </div>

        <!--空白-->
        <div class="whitespace"></div>

        <div class="ff">
            <div class="ff-img">
                <img src="{$imgurl}" alt="" style="width:100%;">
            </div>
            <div class="tt">@2019.All Rights Reserved.莫名看书</div>
            <div class="tt"></div>
            <!-- <div class="tt">湘ICP备16001688号-2</div> -->
        </div>

    </div>

</div>

    <div style="width:100%; height:60px; line-height:60px;"></div>

</div>


<!--img为未选中图片   data-img为选中图片-->
<ul class="tab_bar_box">
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_home.png" data-img="__PUBLIC__/home/img/icon_tab_home_select.png">
        <a href="__APP__/Home/Index/index.html">
            <img src="__PUBLIC__/home/img/icon_tab_home_select.png" />
            <p class="actives">首页</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_book.png" data-img="__PUBLIC__/home/img/icon_tab_book_select.png">
        <a href="__APP__/Home/Book/book_type_v1.html">
            <img src="__PUBLIC__/home/img/icon_tab_book.png" />
            <p>书架</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_recharge.png" data-img="__PUBLIC__/home/img/icon_tab_recharge_select.png">
        <a href="__APP__/Home/Index/recharge.html">
            <img src="__PUBLIC__/home/img/icon_tab_recharge.png" />
            <p>充值</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_mine.png" data-img="__PUBLIC__/home/img/icon_tab_mine.png">
        <a href="__APP__/Home/User/center.html">
            <img src="__PUBLIC__/home/img/icon_tab_mine.png" />
            <p>我的</p>
        </a>
    </li>
</ul>

</body>

<script type="text/javascript">
    $('.tab_bar_box li').click(function() {
        $(this).find("p").addClass('actives');
        $(this).siblings(".Imgbox").find("p").removeClass('actives');

        var click = $(this).data('img');
        $(this).find('img').attr('src', click);

        $(this).siblings('.Imgbox').each(function() {
            var noclick = $(this).attr('img');
            $(this).find('img').attr('src', noclick);
        })
    });

    var em = '';

    for (i = 0; i < banners.length; i ++) {
        alert(banners[i]);
        var bb = banners[i].img;
        em += '<li><a href="#"><img src="__PUBLIC__/' + bb + '" alt=""></a></li>'

    }

</script>

<script>    

    window.onload = function () {
        var carousel = document.querySelector('.carousel');
        var carouselUl = carousel.querySelector('ul');
        var carouselLis = carouselUl.querySelectorAll('li');
        var points = carousel.querySelector('ol');
        // 屏幕的宽度
        var screenWidth = document.documentElement.offsetWidth;
        var timer = null;

        // 设置 ul 的高度
        carouselUl.style.height = carouselLis[0].offsetHeight + 'px';

        // 动态生成小圆点
        for (var i = 0; i < carouselLis.length; i++) {
            var li = document.createElement('li');
            if (i == 0) {
                li.classList.add('active');
            }
            points.appendChild(li);
        }

        // 初始三个固定的位置
        var left = carouselLis.length - 1;
        var center = 0;
        var right = 1;

        // 归位（多次使用，封装成函数）
        setTransform();

        // 调用定时器
        timer = setInterval(showNext, 2000);

        // 分别绑定touch事件
        var startX = 0; // 手指落点
        var startTime = null; // 开始触摸时间
        carouselUl.addEventListener('touchstart', touchstartHandler); // 滑动开始绑定的函数 touchstartHandler
        carouselUl.addEventListener('touchmove', touchmoveHandler); // 持续滑动绑定的函数 touchmoveHandler
        carouselUl.addEventListener('touchend', touchendHandeler); // 滑动结束绑定的函数 touchendHandeler

        // 轮播图片切换下一张
        function showNext() {
            // 轮转下标
            left = center;
            center = right;
            right++;
            //　极值判断
            if (right > carouselLis.length - 1) {
                right = 0;
            }
            //添加过渡（多次使用，封装成函数）
            setTransition(1, 1, 0);
            // 归位
            setTransform();
            // 自动设置小圆点
            setPoint();
        }

        // 轮播图片切换上一张
        function showPrev() {
            // 轮转下标
            right = center;
            center = left;
            left--;
            //　极值判断
            if (left < 0) {
                left = carouselLis.length - 1;
            }
            //添加过渡
            setTransition(0, 1, 1);
            // 归位
            setTransform();
            // 自动设置小圆点
            setPoint();
        }

        // 滑动开始
        function touchstartHandler(e) {
            // 清除定时器
            clearInterval(timer);
            // 记录滑动开始的时间
            startTime = Date.now();
            // 记录手指最开始的落点
            startX = e.changedTouches[0].clientX;
        }
        // 滑动持续中
        function touchmoveHandler(e) {
            // 获取差值 自带正负
            var dx = e.changedTouches[0].clientX - startX;
            // 干掉过渡
            setTransition(0, 0, 0);
            // 归位
            setTransform(dx);
        }
        //　滑动结束
        function touchendHandeler(e) {
            // 在手指松开的时候，要判断当前是否滑动成功
            var dx = e.changedTouches[0].clientX - startX;
            // 获取时间差
            var dTime = Date.now() - startTime;
            // 滑动成功的依据是滑动的距离（绝对值）超过屏幕的三分之一 或者滑动的时间小于300毫秒同时滑动的距离大于30
            if (Math.abs(dx) > screenWidth / 3 || (dTime < 300 && Math.abs(dx) > 30)) {
                // 滑动成功了
                // 判断用户是往哪个方向滑
                if (dx > 0) {
                    // 往右滑 看到上一张
                    showPrev();
                } else {
                    // 往左滑 看到下一张
                    showNext();
                }
            } else {
                // 添加上过渡
                setTransition(1, 1, 1);
                // 滑动失败了
                setTransform();
            }

            // 重新启动定时器
            clearInterval(timer);
            // 调用定时器
            timer = setInterval(showNext, 2000);
        }
        // 设置过渡
        function setTransition(a, b, c) {
            if (a) {
                carouselLis[left].style.transition = 'transform 1s';
            } else {
                carouselLis[left].style.transition = 'none';
            }
            if (b) {
                carouselLis[center].style.transition = 'transform 1s';
            } else {
                carouselLis[center].style.transition = 'none';
            }
            if (c) {
                carouselLis[right].style.transition = 'transform 1s';
            } else {
                carouselLis[right].style.transition = 'none';
            }
        }

        //　封装归位
        function setTransform(dx) {
            dx = dx || 0;
            carouselLis[left].style.transform = 'translateX(' + (-screenWidth + dx) + 'px)';
            carouselLis[center].style.transform = 'translateX(' + dx + 'px)';
            carouselLis[right].style.transform = 'translateX(' + (screenWidth + dx) + 'px)';
        }
        // 动态设置小圆点的active类
        var pointsLis = points.querySelectorAll('li');

        function setPoint() {
            for (var i = 0; i < pointsLis.length; i++) {
                pointsLis[i].classList.remove('active');
            }
            pointsLis[center].classList.add('active');
        }
    }

</script>

</html>