<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>充值</title>
    <meta property="qc:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/show.css">
    <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">

</head>

<body class="project-fixed" style="background:#fff;">
<!---->

<div>
    <div class="axc-console axc-error" id="axc-error">
        <i class="axc-base axc-infor-base"></i>
        <span></span>
    </div>
    <div class="biao" style="height:30px;">充值</div>
    <div class="user-lists">
        <div class="chong">
            <div class="yu">
                您的余额：<span style="color:#fe8a01;">{$user.gold}</span> 书币
            </div>
            <div class="yu2">
                选择充值的金额<a style="color:red;">（1元 = {$buys.ratio} 金币）</a>
                <ul>
                    <li class="yu2-li">
                        <a href="__URL__/jumprecharge?pay=30">
                            <div class="yy1">
                                30元
                            </div>
                            <div class="yy4">{$buys['ratio'] * 30}书币</div>
                            <div class="yy4">多送0元</div>
                        </a>
                    </li>
                    <li class="yu2-li2">
                        <a href="__URL__/jumprecharge?pay=50">
                            <div class="yy1">

                                50元
                            </div>
                            <div class="yy4">{$buys['ratio'] * 50}+{$buys['ratio'] * 30}书币</div>
                            <div class="yy4">多送30元</div>
                        </a>
                    </li>
                    <li class="yu2-li">
                        <a href="__URL__/jumprecharge?pay=100">
                            <div class="yy1">
                                100元
                            </div>
                            <div class="yy4">{$buys['ratio'] * 100}+{$buys['ratio'] * 80}书币</div>
                            <div class="yy4">多送80元</div>
                        </a>
                    </li>
                    <li class="yu2-li2">
                        <a href="__URL__/jumprecharge?pay=200">
                            <div class="yy1">
                                200元
                            </div>
                            <div class="yy4">{$buys['ratio'] * 200}+{$buys['ratio'] * 200}书币</div>
                            <div class="yy4">多送200元</div>
                        </a>
                    </li>
                    <li class="yu2-li">
                        <a href="__URL__/jumprecharge?pay=vipjd">
                            <div class="yy1">
                                <img src="__PUBLIC__/home/img/nian.png" alt="" / style="width:20px;height:20px;">
                                季度VIP会员
                            </div>
                            <div class="yy2">（{$buys.vipjd}元）</div>
                            <div class="yy3">3个月免费看</div>
                        </a>
                    </li>

                    <li class="yu2-li2">
                        <a href="__URL__/jumprecharge?pay=vip">
                            <div class="yy1">
                                <img src="__PUBLIC__/home/img/nian.png" alt="" / style="width:20px;height:20px;">
                                年费VIP会员
                            </div>
                            <div class="yy2">（{$buys.vipratio}元）</div>
                            <div class="yy3">全年免费看</div>
                        </a>
                    </li>
                </ul>
                <a class="queren">
                    确认充值
                </a>
            </div>
        </div>
    </div>
</div>

<!--img为未选中图片   data-img为选中图片-->
<ul class="tab_bar_box">
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_home.png" data-img="__PUBLIC__/home/img/icon_tab_home_select.png">
        <a href="__APP__/Home/Index/index.html">
            <img src="__PUBLIC__/home/img/icon_tab_home.png" />
            <p>首页</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_book.png" data-img="__PUBLIC__/home/img/icon_tab_book_select.png">
        <a href="__APP__/Home/Book/book_type_v1.html">
            <img src="__PUBLIC__/home/img/icon_tab_book.png" />
            <p>书架</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_recharge.png" data-img="__PUBLIC__/home/img/icon_tab_recharge_select.png">
        <a href="__APP__/Home/Index/recharge.html">
            <img src="__PUBLIC__/home/img/icon_tab_recharge_select.png" />
            <p class="actives">充值 </p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_mine.png" data-img="__PUBLIC__/home/img/icon_tab_mine.png">
        <a href="__APP__/Home/User/center.html">
            <img src="__PUBLIC__/home/img/icon_tab_mine.png" />
            <p>我的</p>
        </a>
    </li>
</ul>


</body>

<script type="text/javascript">
    $('.tab_bar_box li').click(function() {
        $(this).find("p").addClass('actives');
        $(this).siblings(".Imgbox").find("p").removeClass('actives');

        var click = $(this).data('img');
        $(this).find('img').attr('src', click);

        $(this).siblings('.Imgbox').each(function() {
            var noclick = $(this).attr('img');
            $(this).find('img').attr('src', noclick);
        })
    });
</script>

</html>