<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta property="qc:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/show.css">
    <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">

    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">

</head>

<body>

<div>
    <div class="axc-console axc-error" id="axc-error">
        <i class="axc-base axc-infor-base"></i>
        <span></span>
    </div>
    <div class="user-lists">
        <div>
            <div>
                <img src="{$user.img}" alt="" style="text-align:center;width:80px;height:80px;border-radius:50%;">
                <p style="margin-top:0;text-align:center;line-height:25px;color:#333;">{$user.nickname}</p>
                <p style="margin-top:0;text-align:center;line-height:25px;color:#333;">

                    <span style="width:100%;display: inline-block">书币:{$user.gold}</span>
                    <if condition="$user['vip'] heq '2'">
                        <span style="width:100%;display: inline-block;color:red;">会员有效期:{$user.viptime|date="Y-m-d",###}</span>
                    </if>
                </p>
            </div>
            <div class="gg-g">
                <ul>
                    <div style="width:100%;overflow:hidden;border-bottom:1px solid #bfbfbf;">
                        <!-- <a href="" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li" >
                                <div style="width:25%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc.png" alt="" style="width:40px;height:40px;margin:0 auto;vertical-align: middle;">
                                </div>
                                微信授权登录
                            </li>
                        </a> -->
                        <a href="__APP__/Home/Book/book_hot.html" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li">
                                <div style="width:33%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc1.png" alt=""
                                         style="width:30px;height:30px;margin:0 auto;vertical-align: middle;margin-top:10px;">
                                </div>
                                热门
                            </li>
                        </a>
                        <a href="__APP__/Home/User/bookmark.html" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li">
                                <div style="width:33%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc2.png" alt=""
                                         style="width:30px;height:30px;margin:0 auto;vertical-align: middle;margin-top:10px;">
                                </div>
                                书签
                            </li>
                        </a>
                        <a href="__APP__/Home/Index/recharge.html" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li2">
                                <div style="width:33%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc3.png" alt=""
                                         style="width:30px;height:30px;margin:0 auto;vertical-align: middle;margin-top:10px;">
                                </div>
                                充值
                            </li>
                        </a>
                    </div>
                    <div style="width:100%;overflow:hidden;border-bottom:1px solid #bfbfbf;">

                        <a href="__APP__/Home/Book/book_type.html" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li">
                                <div style="width:33%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc4.png" alt=""
                                         style="width:30px;height:30px;margin:0 auto;vertical-align: middle;margin-top:10px;">
                                </div>
                                书架
                            </li>
                        </a>
                        <a href="__APP__/Home/User/search.html" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li">
                                <div style="width:33%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc5.png" alt=""
                                         style="width:30px;height:30px;margin:0 auto;vertical-align: middle;margin-top:10px;">
                                </div>
                                搜索
                            </li>
                        </a>
                        <a href="__APP__/Home/User/history.html" style="width:33%;float:left;border-bottom:none;">
                            <li class="gg-li2">
                                <div style="width:33%;margin:0 auto;">
                                    <img src="__PUBLIC__/home/img/cc6.png" alt=""
                                         style="width:30px;height:30px;margin:0 auto;vertical-align: middle;margin-top:10px;">
                                </div>
                                阅读历史
                            </li>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</div>

<!--img为未选中图片   data-img为选中图片-->
<ul class="tab_bar_box">
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_home.png" data-img="__PUBLIC__/home/img/icon_tab_home_select.png">
        <a href="__APP__/Home/Index/index.html">
            <img src="__PUBLIC__/home/img/icon_tab_home.png" />
            <p>首页</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_book.png" data-img="__PUBLIC__/home/img/icon_tab_book_select.png">
        <a href="__APP__/Home/Book/book_type_v1.html">
            <img src="__PUBLIC__/home/img/icon_tab_book.png" />
            <p>书架</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_recharge.png" data-img="__PUBLIC__/home/img/icon_tab_recharge_select.png">
        <a href="__APP__/Home/Index/recharge.html">
            <img src="__PUBLIC__/home/img/icon_tab_recharge.png" />
            <p>充值</p>
        </a>
    </li>
    <li class="Imgbox" img="__PUBLIC__/home/img/icon_tab_mine.png" data-img="__PUBLIC__/home/img/icon_tab_mine_select.png">
        <a href="__APP__/Home/User/center.html">
            <img src="__PUBLIC__/home/img/icon_tab_mine_select.png" />
            <p class="actives">我的</p>
        </a>
    </li>
</ul>

</body>

<script type="text/javascript">
    $('.tab_bar_box li').click(function() {
        $(this).find("p").addClass('actives');
        $(this).siblings(".Imgbox").find("p").removeClass('actives');

        var click = $(this).data('img');
        $(this).find('img').attr('src', click);

        $(this).siblings('.Imgbox').each(function() {
            var noclick = $(this).attr('img');
            $(this).find('img').attr('src', noclick);
        })
    });
</script>

</html>