<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>历史记录</title>
    <meta property="qc:admins" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/show.css">
    <link href="__PUBLIC__/home/css/myb-axc.css" rel="stylesheet" 0="projects\assets\AppAsset">

    <link rel="stylesheet" href="__PUBLIC__/home/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/app.css">

</head>

<body class="project-fixed" style="background:#fff;">

<div class="nav_bar_box">
    <a class="nav_bar_box_left" href="javascript:void(0)" onclick="javascript:history.go(-1);">
        <img class="nav_bar_box_left_img" src="__PUBLIC__/home/img/back.png">
        <div>返回</div>
    </a>
    <div class="nav_bar_box_title">历史记录</div>

    <div class="nav_bar_box_right">
        <a href="__APP__/Home/Index/index.html">首页</a>
    </div>
</div>

<div style="margin-top: 43px;">
    <div class="axc-console axc-error" id="axc-error">
        <i class="axc-base axc-infor-base"></i>
        <span></span>
    </div>
    <div class="biao" style="height:30px;">浏览记录</div>
    <div class="user-lists">
        <div class="user-lists-content">
            <volist name="history" id="vh">
                <a href="" style="border:none;height:35px;">
                    <li class="shu">
                        <div class="shu-div">
                            <a href="__APP__/Home/Book/bookinfo?bid={$vh.biid}&number={$vh.number}"><p
                                    style="width:85%;float:left;"> {$vh.title}&nbsp;&nbsp;第{$vh.number}章</p></a>
                            <a href="__URL__/del_history?id={$vh.id}" style="" class="sd">删除</a>
                        </div>
                    </li>
                </a>
            </volist>
        </div>
    </div>

</div>


</body>

</html>