
* {
    margin: 0;
    padding: 0;
    text-decoration: none;  /*去掉下划线*/
    list-style: none;       /* 清除 ul 等标签前面的“小圆点” */
}


div {
    display: block;
    color: #333;
}

body {
    background: #F5F5F5;
}


/* 图片自适应 */
img {
    width: 100%;
    height: auto;
    border: none;
    /* ie8 */
    display: block;
    -ms-interpolation-mode: bicubic;
    /*为了照顾ie图片缩放失真*/
}

/* 轮播图最外层盒子 */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel ul {
    /* 这个高度需要在JS里面动态添加 */
}

.carousel ul li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* 使用 transform:translaX(300%) 暂时将 li 移动到屏幕外面去*/
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

/* 小圆点盒子 */
.carousel .points {
    /* 未知宽度的盒子，使用 absolute 定位，结合 transform 的方式进行居中 */
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

/* 小圆点 */
.carousel .points li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    float: left;
    margin: 0 2px;
}

/* 选中小圆点的样式类 */
.carousel .points li.active {
    background-color: #fff;
}


.list_body {
    position: relative;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 44px;
}

.list_item {
    display: flex;
    padding: 10px 16px;
    background: #fff;
    color: rgba(0,0,0,.8);
}

.list_item_img {
    width: 90px;
    float: left;
    height: 120px;

}

.list_item_right {
    margin: 2px 10px;
    justify-content: left;
    align-items: flex-start;
}

.list_item_right_title {
    font-size:16px;
    line-height:20px;
    font-weight: 700;
}

.list_item_right_text {
    margin-top: 5px;
    line-height: 20px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list_item_right_tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list_item_right_tag_item {
    font-size: 13px;
    background-color: #efeff4;
    color: #8a8a8f;
    margin: 5px 10px 5px 0px;
    padding: 5px 8px;
    border-radius: 17px;
    display: inline-block;
}

.cell_text {
    height: 44px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_user_box {
    /*width: 70px;*/
    /*height: 70px;*/
    position: relative;
}

.img_user_header {
    margin: auto;
    width: 70px;
    height: 70px;
    border: 3px solid #ffc71a;
    border-radius: 50%;
}

.img_user_tag {
    position: absolute;
    text-align: center;
    font-size: 10px;
    width: 14px;
    height: 14px;
    right: 5px;
    bottom: 0px;
    background: white;
    border: 3px solid #ffc71a;
    border-radius: 50%;
    color: #ffc71a;
}

/*垂直居中*/
.vertical_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*水平居中*/
.horizontal_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.margin_right {
    margin-right: 10px;
}

.margin_10 {
    margin: 10px;
}

.nickname {
    color: #333;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.welth {
    color: #3688ff;
}

.welth_text {
    font-size: 12px;
    color: #999;
}

.user_content {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.gift_img {
    width: 20px;
    height: 30px;
}

/* nav bar */
.nav_bar_box {
    width: 100%;
    height: 44px;
    top: 0;
    background: #02c88d;
    border-bottom: 1px #02c88d solid;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

.nav_bar_box_left {
    display: flex;
    align-items: center;
    padding-left: 8px;
    width: 22%;
    color: #fff;
}

.nav_bar_box_left_img {
    height: 18px;
    width: 18px;
    padding: 2px;
}

.nav_bar_box_title {
    width: 56%;
    text-align: center;
    font-size: 18px;
}

.nav_bar_box_right {
    display: flex;
    justify-content: flex-end;
    width: 22%;
    padding-right: 12px;
}

.nav_bar_box a {
    color: #fff;
}

.nav_bar_box div {
    color: #fff;
}


/* tab bar */
.tab_bar_box {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px lightgray solid;
}

.tab_bar_box li {
    height: 100%;
}

.tab_bar_box li a {
    display: block;
    width: 100%;
    height: 100%;
}

.tab_bar_box li a img {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.tab_bar_box li a p {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: auto;

}

p.actives {
    color: #35bed1;
}

p {
    color: darkgray;
}

.user_header {
    display: flex;
    flex-direction: column;
    align-items: center;

 }

.whitespace {
    height: 10px;
    background: #F5F5F5;
}


/* section */
.section_header {
    height: 44px;
    line-height: 44px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_flag_line {
    width: 3px;
    height: 20px;
    background-color: #3688ff;
    margin: 0;
}

.section_right {
    font-size: 14px;
    color: #999;
}

.section_left {
    font-size: 16px;
    font-weight: 700;

}

.section_row_between {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 10px;
}





.section_content1 {
    /*width: 100%;*/
    overflow: hidden;
    padding: 0 .15rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
}

.section_content2 {
    background-color: #fff;
    width:100%;
    display: inline;
    white-space: nowrap;
    overflow-x:scroll;
    float:left;
    overflow-y:hidden
}

.section_content3 {
    background-color: #fff;
    overflow: hidden;
}

.section_content_item {
    display: block;
    margin: 0 10px 20px;
}

.section_content_item_a_img {
    width:80%;
    border-radius:8px;
    height: 0px;
}

.section_content_item_a {
    display: block;
    padding: 0 .15rem .3rem;

}

.section_content_item_div {
    background-color: #fff;
}

.section_content_item_title {
    white-space: normal;
    display: block;
    color: #4a4848;
    font-size: .28rem;
    margin-top: .2rem;
    line-height: .4rem;
}
